h1 {background-color: rgb(65, 65, 151);
             color: rgb(0, 255, 34);
              text-align:center;
        }

p{
    background-color: yellowgreen;
}

body{
    background-color:black;
}

.bg-blue-h1{
    background-color: blue;
    color: white;
}

.bg-yellow-h1{
    background-color: rgb(139, 139, 90);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:xx-large;
    text-align: center;
    letter-spacing: 5 ch;
    text-decoration:underline double;
}

#pg-background{
    background-color: reIDd;
}

*{
    background-color: bisque;
    margin:50;
    padding:500;

}