h1 {
    background-color: rgb(65, 65, 151);
    color: rgb(0, 255, 34);
    text-align: center;
}

p {
    background-color: yellowgreen;
}

body {
    background-color: black;
}

.bg-blue-h1 {
    background-color: blue;
    color: white;
    text-align: center;
    /* padding-left: 50px;
    padding-bottom: 25px;                     
    padding-right: 50px;
    padding-top: 50px; */

    padding: 50px;
    border: 8px solid red;
    border-radius: 100px;
    border-style: dashed;

    /* padding: 20px 50px 40px 20px; */

    /* margin: 40px; */
    /* margin-top: 4;
    margin-bottom: 40px;
    margin-left: 80px;
    margin-right: 80px; */

    margin: 40px 50px 20px 40px;
}

.bg-yellow-h1 {
    background-color: rgb(139, 139, 90);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    text-align: center;
    letter-spacing:2cap;
    text-decoration: underline double;
}

#pg-background {
    background-color: reIDd;
}

* {
    background-color: bisque;
    margin: 50;
    padding: 500;

}

body{
    background-image: url('../IMG/background.jpg');
    background-size: ;

}