h1 {background-color: rgb(65, 65, 151);
             color: rgb(0, 255, 34);
              text-align:center;
        }

p{
    background-color: yellowgreen;
}

body{
    background-color:black;
}

.bg-blue-h1{
    background-color: blue;
    color: white;
}

.bg-yellow-h1{
    background-color: yellow;
}